<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track ADDING</title>
</head>
<body>

<form action="/addTheTracks" method="post">
  <label>Enter Id</label>
  <input type="text" name="id">
  <label>Enter Track 1</label>
  <input type="text" name="track_1">
  <label>Enter Track 2</label>
  <input type="text" name="track_2">
  <label>Enter Track 3</label>
  <input type="text" name="track_3">
  <label>Enter Track 4</label>
  <input type="text" name="track_4">
  <input type="submit" value="Submit" style="color: black">
</form>



</body>
</html>