<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MUSIC</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
<h1 style="color: red">Smuk Røv Music</h1>


<a href="/create">
    <button class="btn-create, btn" id="btn-create">Create a new musician</button>
</a>

<a href="/seeTracks">
    <button class="btn-create, btn" id="btn-viewalbums">Add albums</button>
</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Best Album</th>
            <th>Record Label</th>
        </tr>
    </thead>
        <tbody>
        <tr th:each="musician: ${musician}">
                <td th:text="${musician.id}"/>
                <td th:text="${musician.name}"/>
                <td th:text="${musician.best_album}"/>
                <td th:text="${musician.record_label}"/>
                <td>
                    <a th:href="@{}""></a>


                </td>
            </tr>
        </tbody>
</table>

</body>
</html>