<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <title>Title</title>
</head>
<body>
<h1>Adding Tracks</h1>


<a href="/addAlbum">
    <button class="btn-create, btn" id="btn-viewalbums">Add albums</button>
</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Tracks 1</th>
        <th>Tracks 2</th>
        <th>Tracks 3</th>
        <th>Tracks 4</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album:${album}">
        <td th:text="${album.id}"/>
        <td th:text="${album.track_1}"/>
        <td th:text="${album.track_2}"/>
        <td th:text="${album.track_3}"/>
        <td th:text="${album.track_4}"/>
        <td>
            <a th:href="@{'/editAlbum/' + ${album.id}}">
                <button class="btn-editAlbum" id="btn-editAlbum">Edit Album</button>
            </a>
            <a th:href="@{'/deleteAlbum/' + ${album.id}}">
                <button class="btn-deleteAlbum" id="btn-deleteAlbum">Delete Album</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>




</body>
</html>